/* External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Sobre as classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Entendendo os IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}