/* External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Sobre as classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Entendendo os IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem de seletores */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome das cores */
.color-name {
    color: crimson;
}

/* Cores Hexadecimais */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #16c516;
}

/* Aprofundando em Hexadecimal */
.simple-hex {
    color: #333;
    /* color: #333333;*/
}

.simple-hex-2 {
    color: #a5f;
    /* color: #aa55ff;*/
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBa */
.rgba {
    color: rgba(4, 21, 4, 0.4);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* Cores de fundo (Background color) */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}