/* External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Sobre as classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Entendendo os IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem de seletores */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome das cores */
.color-name {
    color: crimson;
}

/* Cores Hexadecimais */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #16c516;
}

/* Aprofundando em Hexadecimal */
.simple-hex {
    color: #333;
    /* color: #333333;*/
}

.simple-hex-2 {
    color: #a5f;
    /* color: #aa55ff;*/
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}