/* External CSS */
body {
    padding-bottom: 500px;
}

h3 {
    color: green;
}

/* Sobre as classes */
.paragraph {
    background-color: #000;
    color: aqua;
    padding: 5px;
}

/* Entendendo os IDs */
#exclusive-title {
    background-color: purple;
    color: yellow;
    padding: 10px;
    font-size: 40px;
}

/* Ordem de seletores */
h2 {
    border-bottom: 2px solid red;
}

.titulo {
    border-bottom: 3px solid blue;
}

#algum-titulo {
    border-bottom: 4px solid green;
}

/* Nome das cores */
.color-name {
    color: crimson;
}

/* Cores Hexadecimais */
.hex {
    color: #55a398;
}

.hex-2 {
    color: #16c516;
}

/* Aprofundando em Hexadecimal */
.simple-hex {
    color: #333;
    /* color: #333333;*/
}

.simple-hex-2 {
    color: #a5f;
    /* color: #aa55ff;*/
}

/* RGB */
.rgb {
    color: rgb(255, 0, 0);
}

.mixed-rgb {
    color: rgb(199, 21, 47);
}

/* RGBa */
.rgba {
    color: rgba(4, 21, 4, 0.4);
}

/* HSL */
.hsl {
    color: hsl(100, 20%, 50%);
}

.hsl-2 {
    color: hsl(201, 82%, 48%);
}

/* Cores de fundo (Background color) */
.bg {
    background-color: #000;
    color: yellow;
}

.bg-2 {
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* Cor de fundo com opacidade */
.bg-opacity {
    background-color: #082714;
    opacity: 0.2;
}

.bg-opacity-2 {
    background-color: #780909;
    color: #000;
    opacity: 0.8;
}

/* RGBa para background */
.rgba-opacity {
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
}

/* Imagem no background */
.bg-image {
    background-image: url("../img/nature.jpg");
    padding: 10px;
    color: #fff;
}

/* Centralizando a imagem de background */
.not-centered-bg,
.centered-bg {
    height: 400px;
    width: 400px;
    background-image: url("../img/bridge.jpg");
}

.centered-bg {
    background-position: center;
    background-size: cover;
}

/* Largura e altura */
.height-width {
    height: 200px;
    width: 100px;
    background-color: red;
}

.height-width-2 {
    height: 300px;
    background-color: #333;
}

/* Padding */
.without-padding,
.padding {
    background-color: #111;
    color: #fff;
}

.padding {
    background-color: #333;
    padding: 20px;
}

/* Padding individual */
.padding-individual {
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 40px;
}

/* Shorthand padding */
.shorthand-padding {
    background-color: #444;
    padding: 6px 12px 18px 24px;
    color: #fff;
}

.shorthand-padding-2 {
    background-color: #555;
    padding: 10px 20px;
    /* padding: 10px 20px 10px 20px; */
    color: #fff;
}

/* Padding e width */
.without-border-box {
    background-color: #444;
    width: 400px;
    padding: 50px;
}

.border-box {
    background-color: #666;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
    /* aplicar a boa prática box-sizing*/
}

/* Bordas */
.border {
    border: 5px solid red;
    padding: 10px;
}

.border-2 {
    border: 2px dotted #931;
    padding: 25px;
}

/* Bordas individuais */
.border-left {
    border-left: 3px solid red;
    background-color: #222;
    padding: 25px;
}

.border-bottom {
    border-bottom: 5px double #399;
    background-color: #222;
    padding: 20px;
}